.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100px;
  background-position: center;
  background-size: 95%;
  background-repeat: no-repeat;
}

.hint {
  margin: auto;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.15);
  pointer-events: none;
}

.promotion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
}

.promotion-choice {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 5px 0;
}

/* Assign background images */
.promotion-choice.queen { background-image: url("/piece/governor/wQ.svg"); }
.promotion-choice.rook { background-image: url("/piece/governor/wR.svg"); }
.promotion-choice.bishop { background-image: url("/piece/governor/wB.svg"); }
.promotion-choice.knight { background-image: url("/piece/governor/wN.svg"); }

.highlight {
  background-color: rgba(144, 238, 144, 0.5);
}

.attackable {
  background-color: rgba(238, 144, 144, 0.5);
}

.pawn.white {
  background-image: url("/piece/governor/wP.svg");
}
.knight.white {
  background-image: url("/piece/governor/wN.svg");
}
.bishop.white {
  background-image: url("/piece/governor/wB.svg");
}
.rook.white {
  background-image: url("/piece/governor/wR.svg");
}
.queen.white {
  background-image: url("/piece/governor/wQ.svg");
}
.king.white {
  background-image: url("/piece/governor/wK.svg");
}
.pawn.black {
  background-image: url("/piece/governor/bP.svg");
}
.knight.black {
  background-image: url("/piece/governor/bN.svg");
}
.bishop.black {
  background-image: url("/piece/governor/bB.svg");
}
.rook.black {
  background-image: url("/piece/governor/bR.svg");
}
.queen.black {
  background-image: url("/piece/governor/bQ.svg");
}
.king.black {
  background-image: url("/piece/governor/bK.svg");
}

.square-1 {
  grid-column: 1;
  grid-row: 1;
}
.square-2 {
  grid-column: 2;
  grid-row: 1;
}
.square-3 {
  grid-column: 3;
  grid-row: 1;
}
.square-4 {
  grid-column: 4;
  grid-row: 1;
}
.square-5 {
  grid-column: 5;
  grid-row: 1;
}
.square-6 {
  grid-column: 6;
  grid-row: 1;
}
.square-7 {
  grid-column: 7;
  grid-row: 1;
}
.square-8 {
  grid-column: 8;
  grid-row: 1;
}

.square-9 {
  grid-column: 1;
  grid-row: 2;
}
.square-10 {
  grid-column: 2;
  grid-row: 2;
}
.square-11 {
  grid-column: 3;
  grid-row: 2;
}
.square-12 {
  grid-column: 4;
  grid-row: 2;
}
.square-13 {
  grid-column: 5;
  grid-row: 2;
}
.square-14 {
  grid-column: 6;
  grid-row: 2;
}
.square-15 {
  grid-column: 7;
  grid-row: 2;
}
.square-16 {
  grid-column: 8;
  grid-row: 2;
}

.square-17 {
  grid-column: 1;
  grid-row: 3;
}
.square-18 {
  grid-column: 2;
  grid-row: 3;
}
.square-19 {
  grid-column: 3;
  grid-row: 3;
}
.square-20 {
  grid-column: 4;
  grid-row: 3;
}
.square-21 {
  grid-column: 5;
  grid-row: 3;
}
.square-22 {
  grid-column: 6;
  grid-row: 3;
}
.square-23 {
  grid-column: 7;
  grid-row: 3;
}
.square-24 {
  grid-column: 8;
  grid-row: 3;
}

.square-25 {
  grid-column: 1;
  grid-row: 4;
}
.square-26 {
  grid-column: 2;
  grid-row: 4;
}
.square-27 {
  grid-column: 3;
  grid-row: 4;
}
.square-28 {
  grid-column: 4;
  grid-row: 4;
}
.square-29 {
  grid-column: 5;
  grid-row: 4;
}
.square-30 {
  grid-column: 6;
  grid-row: 4;
}
.square-31 {
  grid-column: 7;
  grid-row: 4;
}
.square-32 {
  grid-column: 8;
  grid-row: 4;
}

.square-33 {
  grid-column: 1;
  grid-row: 5;
}
.square-34 {
  grid-column: 2;
  grid-row: 5;
}
.square-35 {
  grid-column: 3;
  grid-row: 5;
}
.square-36 {
  grid-column: 4;
  grid-row: 5;
}
.square-37 {
  grid-column: 5;
  grid-row: 5;
}
.square-38 {
  grid-column: 6;
  grid-row: 5;
}
.square-39 {
  grid-column: 7;
  grid-row: 5;
}
.square-40 {
  grid-column: 8;
  grid-row: 5;
}

.square-41 {
  grid-column: 1;
  grid-row: 6;
}
.square-42 {
  grid-column: 2;
  grid-row: 6;
}
.square-43 {
  grid-column: 3;
  grid-row: 6;
}
.square-44 {
  grid-column: 4;
  grid-row: 6;
}
.square-45 {
  grid-column: 5;
  grid-row: 6;
}
.square-46 {
  grid-column: 6;
  grid-row: 6;
}
.square-47 {
  grid-column: 7;
  grid-row: 6;
}
.square-48 {
  grid-column: 8;
  grid-row: 6;
}

.square-49 {
  grid-column: 1;
  grid-row: 7;
}
.square-50 {
  grid-column: 2;
  grid-row: 7;
}
.square-51 {
  grid-column: 3;
  grid-row: 7;
}
.square-52 {
  grid-column: 4;
  grid-row: 7;
}
.square-53 {
  grid-column: 5;
  grid-row: 7;
}
.square-54 {
  grid-column: 6;
  grid-row: 7;
}
.square-55 {
  grid-column: 7;
  grid-row: 7;
}
.square-56 {
  grid-column: 8;
  grid-row: 7;
}

.square-57 {
  grid-column: 1;
  grid-row: 8;
}
.square-58 {
  grid-column: 2;
  grid-row: 8;
}
.square-59 {
  grid-column: 3;
  grid-row: 8;
}
.square-60 {
  grid-column: 4;
  grid-row: 8;
}
.square-61 {
  grid-column: 5;
  grid-row: 8;
}
.square-62 {
  grid-column: 6;
  grid-row: 8;
}
.square-63 {
  grid-column: 7;
  grid-row: 8;
}
.square-64 {
  grid-column: 8;
  grid-row: 8;
}
